<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

<nav class="sidebar-nav">
  <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

  {% comment %}
  动态生成侧边栏导航，包含有 `layout: page` 的页面
  {% endcomment %}

  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        {% comment %} 将 About 改为 About Me {% endcomment %}
        {% if node.title == "About" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">About Me</a>
        {% else %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% comment %} 添加 FriendLink 和 Album 链接 {% endcomment %}
  <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
  <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
</nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
